[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=restart
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Restart
Comment=Restart plugin